@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {width: auto; overflow-x: hidden} 

body {
  font-family: "Inter", sans-serif;
}
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;

}

.hamburger-middle {
  transform: translateY(10px);
}

.hamburger-bottom {
  transform: translateY(20px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px); 
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


.home-bg {
  background-image: linear-gradient(to right, #15803c99, #15803c99), url("../src/assets/png/tree.png");
  background-size: cover;
  background-position: bottom;
  height: 85vh;
  width: 100vw;
}